* {
	margin: 0;
	padding: 0;
	border: 0;
}
@font-face {
	font-family: 'Gotika Black';
	src: url('../fonts/typogotikablack.otf') format('opentype');
}

@font-face {
	font-family: 'Gotika Demo';
	src: url('../fonts/typogotikademo.otf') format('opentype');
}

@font-face {
  font-family: 'Gotika Italic';
  src: url('../fonts/typogotikaitalic.otf') format('opentype');
}

body {
    background-color: #b5bec5;
}

header {
    background-color: #bb5d5f;
    border-bottom: solid 10px #eaeaea;
    color: #ffffff;
    padding: 3%;
}

#header1 {
    font-family: 'Gotika Demo';
}

#header2 {
    font-family: 'Gotika Italic';
}

.skylinelogo {
    width: 100%;
    margin-top: 10%;
}

#color-palette {
    display: flex;
    flex-direction: row;
}

.color-box {
    flex: 1;
    margin-top: 10%;
}

#graphite {
    background-color: #2e2e2e;
    width: 100px;
    height: 100px;
}

#cloud {
    background-color: #ffffff;
    width: 100px;
    height: 100px;
}

#fog {
    background-color: #eaeaea;
    width: 100px;
    height: 100px;
}

#rose {
    background-color: #bb5d5f;
    width: 100px;
    height: 100px;
}

#patterns {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

.texture {
    flex: 1;
    width: 100%;
    max-width: 360px;
    max-height: 200px;
    object-fit: cover;
}
